@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto" , sans-serif;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #243E63;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 46px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nav__links {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    color: #243E63;
    margin: 0 20px;
    position: relative;
}

.btn {
    padding: 8px 16px;
    background-color: #551ff5;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    border: none;
}

.btn:hover {
    background-color: #3e0fbf;
    transition: background-color 0.3s ease;
}

.nav__link:hover {
    color: #551ff5;
}

.nav__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #551ff5;
    left: 50%;
    bottom: -10px;
    transition: all 0.3s ease;
}

.nav__link:hover::before {
    width: 100%;
    left: 0;
}

/*  HEADER  */

.header__container {
    display: flex;
    gap: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.header__info {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__para {
    padding-right: 60px;
}

.header__img {
    width: 60%;
}

.heading__img {
    width: 90%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

.purple {
    color: #551ff5;
}

.wrapper {
    width: 400px;
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.header__input {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(226, 226, 226, 0.235);
    border-radius: 50px;
    padding: 16px 32px;
    width: 100%;
}

.header__input:hover {
    border-color: rgba(226, 226, 226, 0.5);
    transition: border-color 0.3s ease;
    border: 2px solid rgba(226, 226, 226, 0.5);
}

.header__btn {
    padding: 8px 32px;
    background-color: #551ff5;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    border: none;
    right: 5px;
    top: 5px;
    bottom: 5px;
    position: absolute;
}

.header__btn:hover {
    background-color: #3e0fbf;
    transition: background-color 0.3s ease;
}

.customers__para {
    font-size: 8px;
    font-weight: 600;
    color: #b2c3c5;
    margin-top:20px;
}

.customers__img {
    width: 70%;
}


/*  FEATURE  */


.features__container {
    padding: 80px 0;
}

.features__info {
   text-align: center;
}

.features__para {
    line-height: 1.625;
    padding: 0 260px;
}

.section__title {
    font-weight: 600;
    margin-top: 60px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    margin-top: 40px;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__img {
    border: 1px solid #7f7d835d;
    color: #a476ff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 20px;
}

.service__title {
    margin-bottom: 10px;
    color: #243E63;
}

.service__para {
    color: #7C8BA1;
    line-height: 2;
    width: 200px;
    font-weight: 400;
}


/*  QUALITY WORK  */

.quality__work-container {
    width: 50%;
    display: flex;
    margin-top:  40px;
}

.quality__work-info {
    margin-right: 40px;
}

.quality__work-img {
    width: 50%;
}

.quality__img {
    width: 700%;
    height: 100%;
    border: 1px solid #7f7d835d;
    border-radius: 5px;
}


/*  STEPS  */

.steps__container {
    display: flex;
    margin-top:  40px;
    align-items: center;
    justify-content: center;
}

.steps__img {
    width: 50%;
}

.laptop__img {
    width: 600px;
    padding-right: 60px;
}

.steps__info {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}

.step {
    display: flex;
}

.step__img {
    font-size: 36px;
    padding-right: 16px;
}

.step__description {
    display: flex;
    flex-direction: column;
}

.step__title {
    color: #243E63;
    padding-bottom: 12px;
}

.step__para {
    color: #636363;
    line-height: 1.5;
    padding-right: 200px;
}


/*  PRICING  */


.pricing__info {
    text-align: center;
}

.pricing__para {
    color: #7C8BA1;
    padding: 0 360px;
    font-weight: 500;
}



