@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.header__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.purple {
    color: #7342d6;
}

.logo {
    width: 260px;
}

a {
    text-decoration: none;
    position: relative;
    transition: all 300ms;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    color: #7342d6;
}

.nav__link--primary {
    margin-left: 16px;
    text-decoration: none;
    background-color: #7342d6;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 50px;
    color: azure;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #5219c5;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: azure;
}

.link__hover-effect--black:after {
    background-color: #5219c5;
}

.link__hover--effect:hover:after {
    width: 100%;
    left: 0;
}

/*

Landing

*/

.header__container {
    width: 40%;
    display: flex;
    flex-direction: column;
}


.header__img {
    width: 60%;
}


.heading {
    color: #1a202c;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
}

.heading__para {
    margin: 32px 0;
    font-size: 18px;
    text-align: left;
    color: #243e63;
}

.header__input-wrapper{
    width: 400px;
    max-width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.header__input {
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    color: rgb(226, 232, 240);
    transition: all 300ms ease;
    border-color: rgb(226, 232, 240);
    transition: all 300ms ease;
}

.btn {
    position: absolute;
    right: 5px;
    height: 90%;
    top: 5%;
    border: none;
    background-color: #7342d6;
    color: azure;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 300ms ease;
}

.header__input:hover {
    border-color: rgb(146, 146, 146);
}

.btn:hover {
    background-color: #5219c5;
}

.heading__bottom-para {
    margin: 24px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #8d9097;
}

/*

FEATURES

*/

.container {
    padding: 80px 0;
}

.section__features {
    text-align: center;
    margin-bottom: 24px;
}

.section__title {
    font-weight: 700;
    margin-bottom: 24px;
}

.section__subheader {
    font-size: 48px;
    font-weight: bold;
    color: #243e63;
    margin-bottom: 24px;
}

.features__para {
    font-size: 18px;
    color: #8d9097;
    max-width: 500px;
    margin: 0 auto;
}

.services {
    margin: 48px;
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    margin-bottom: 24px;
}

.features__img {
    border: 2px solid #ccced3;
    color: #7342d6;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    font-size: 32px;
    margin-bottom: 24px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 220px;
    margin: 0 auto;
}

.features__subtitle {
    color: #243e63;
    margin-bottom: 16px; 
}

.service__para{
    font-size: 18px;
    color: #8d9097;
    margin-bottom: 60px;
    line-height: 1.5;
}


